# Updated By Sadew Jayasekara
# TheNatsukiBot example config

# Basic
TOKEN: ""

# Get they in https://my.telegram.org/
APP_ID: 000000
APP_HASH: ""




API_PORT': 8080

TEMP_MAIL_KEY: ""
OWNER_ID: 1548967589
OPERATORS: [1548967589, 00000000]
SUPPORT_CHAT: -000000000
SUDO_USERS: ""

DATABASE_URL: ""
TIME_API_KEY: ""
ARQ_API: ""

# Advanced
SW_API: ""
IBM_WATSON_CRED_URL: ""
IBM_WATSON_CRED_PASSWORD: ""
OPENWEATHERMAP_ID: ""
WOLFRAM_ID: ""
DEBUG_MODE: False
LOAD_MODULES: True
LOGS_CHANNEL_ID: -000000000
ALLOW_FORWARDS_COMMANDS: False
ALLOW_EXCEL: False
